<ion-content [fullscreen]="true" class="admin-content">
  
  <div class="background-gradient">
    <div class="center-container">  
      <ion-card class="login-card">

        <ion-item class="custom-item">

          <!-- Icono de tuerca para modificar perfil -->
          <ion-icon name="settings" slot="start"color="primary"
            class="settings-icon" (click)="editProfile()">Edit Perfil</ion-icon>
  
          <!-- Nombre de usuario -->
          <div class="profile-name">   {{  nombreUsuario }}</div>
  
          <!-- Icono de cierre de sesión -->
          <ion-icon name="log-out" slot="end" color="primary" class="logout-icon"
            (click)="logout()"></ion-icon>
  
        </ion-item>

        <ion-row class="welcome-message">
          <ion-col>
            <h1>Bienvenido admin</h1>
          </ion-col>
        </ion-row>

        <ion-row class="admin-icons">

          <ion-col class="admin-icon">
            <ion-icon name="people" color="secondary" style="--ion-icon-size: 3em;" [routerLink]="['/registroadmin']"></ion-icon>
            <p class="admin-label">Registro Clientes</p>
          </ion-col>
          <ion-col class="admin-icon">
            <ion-icon name="car-sport" color="success" style="--ion-icon-size: 3em;" [routerLink]="['/adminvehiculo']"></ion-icon>
            <p class="admin-label">Registro Vehículos</p>
          </ion-col>
        </ion-row>



      </ion-card>
    </div>
  </div>
</ion-content>