<ion-content [fullscreen]="true" class="admin-content">
  
  <div class="background-gradient">
    <div class="center-container">
      <ion-card class="login-card">
        <ion-row class="welcome-message">
          <ion-col>
            <h1>Bienvenido admin</h1>
          </ion-col>
        </ion-row>

        <ion-row class="admin-icons">
          <ion-col class="admin-icon">
            <ion-icon name="people" color="secondary" style="--ion-icon-size: 3em;" [routerLink]="['/registroadmin']"></ion-icon>
            <p class="admin-label">Registro Clientes</p>
          </ion-col>
          <ion-col class="admin-icon">
            <ion-icon name="car-sport" color="success" style="--ion-icon-size: 3em;" [routerLink]="['/adminvehiculo']"></ion-icon>
            <p class="admin-label">Registro Vehículos</p>
          </ion-col>
        </ion-row>

        <ion-row class="admin-icons">
          <ion-col class="admin-icon">
            <ion-icon name="log-out" [routerLink]="['/logout']" color="primary" (click)="logout()"
              style="--ion-icon-size: 3em;"></ion-icon>
            <p class="admin-label">Salir</p>
          </ion-col>
        </ion-row>

      </ion-card>
    </div>
  </div>
</ion-content>