<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">direccion destino</ion-label>
    <ion-input type="text" [(ngModel)]="direccionDestino"></ion-input>
  </ion-item>
  <ion-button expand="full" *ngIf="idRol === 3" (click)="calcularRuta()">calcular ruta</ion-button>
  <ion-button expand="full" *ngIf="idRol === 2" (click)="calcularRuta()">solicitar conductor</ion-button>
  
  
  <ion-card *ngIf="mostrarinfoconductor">
    <ion-card-content>
      <ion-card-title>Conductores en Ruta</ion-card-title>
      <ion-card-subtitle>Detalles sobre la ruta calculada</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <capacitor-google-map #map class="map"></capacitor-google-map>
</ion-content>
