<ion-content [fullscreen]="true" class="content">
  <div class="background-gradient"></div>

  <div class="center-container">
    <ion-card class="profile-card">

      <ion-item class="custom-item">

        <ion-button fill="clear" expand="full" color="success" class="back-button" (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>

      </ion-item>
      <ion-card-header>

        <ion-list *ngIf="climaData" class="clima-container">
          <ion-item class="clima-item">
            <img slot="start" src="{{ climaData.current.condition.icon }}" alt="Clima Icon" class="clima-icon">
            <ion-label slot="end" color="primary">{{ climaData.current.temp_c }}°C</ion-label>
          </ion-item>
        </ion-list>

      </ion-card-header>

      <ion-card-content>

        <ion-button (click)="irAPago1()" class="boton-pago">Pagar 1.000 pesos</ion-button>

        <ion-button (click)="irAPago2()" class="boton-pago">Pagar 2.000 pesos</ion-button>

        <ion-button (click)="irAPago3()" class="boton-pago">Pagar 5.000 pesos</ion-button>

        <ion-button (click)="irAPago4()" class="boton-pago">Pagar 10.000 pesos</ion-button>
        
        <ion-list>
          <ion-item *ngFor="let historial of historialCliente">
            <ion-label>
              <h2>{{ historial.tipotransaccion }}</h2>
              <p>Monto: {{ historial.saldoagregado | currency:'USD':'symbol' }}</p>
              <p>Fecha: {{ historial.fechahora }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
  
