<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img class="profile-image" src="../../assets/imagenes-img/graduation-1345143_640.png"
      alt="Imagen de Perfil"></ion-img>
    <ion-card-header>
      <ion-card-title>Nombre del Usuario</ion-card-title>
      <ion-card-subtitle>@usuario123</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Iconos interactivos -->
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-icon name="create" size="large"></ion-icon>
          <div>Editar perfil</div>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-icon name="book" size="large"></ion-icon>
          <div>Asignaturas</div>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-icon name="calendar" size="large"></ion-icon>
          <div>Ver horario</div>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-icon name="qr-code" size="large"></ion-icon>
          <div>Escanear código QR</div>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center" (click)="logout()">
          <ion-icon name="exit" size="large"></ion-icon>
          <div>Cerrar sesión</div>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>