ion-card.profile-card {
    width: 90%;
    height: 65%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(to bottom, #00b894, #0984e3);
        /* Color de fondo para el marco redondo */
        width: 100px;
        /* Tamaño de la imagen de perfil */
        height: 100px;
        margin: 0 auto 10px;
    }

    .profile-email {
        color: rgba(0, 0, 0, 0.6);
        /* Color difuminado (gris) */
    }
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00b894, #0984e3);
    /* Degradado de verde a azul */
    z-index: -1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-button {
    margin-top: 10px;
}

ion-list.clima-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

ion-item.clima-item {
    display: flex;
    align-items: center;
}

ion-label {
    display: flex;
    align-items: center;
}

img.clima-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.custom-button {
    white-space: normal; // Permite que el texto se ajuste automáticamente al ancho del botón
    text-align: center; // Centra el texto horizontalmente
    font-size: 16px; // Ajusta el tamaño de la fuente según sea necesario
    padding: 12px; // Ajusta el relleno según sea necesario
    border-radius: 10px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    ion-button {
        white-space: normal; // Permite que el texto se ajuste automáticamente al ancho del botón
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 10px;
        /* Ajusta el tamaño del texto según sea necesario */
    }
}
