.cent {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* En tu archivo styles.scss */

/* Estilos para el header y toolbar */
ion-header ion-toolbar {
  --background: #3498db;
  /* Color de fondo */
  --color: white;
  /* Color del texto */
}

/* Estilos para el título de la página */
ion-title {
  font-size: 24px;
}

/* Estilos para los ítems y etiquetas */
ion-item {
  --color: black;
  /* Color del texto */
}

/* Estilos para los botones */
ion-button {
  --background: #3498db;
  /* Color de fondo */
  --color: white;
  /* Color del texto */
  --border-radius: 999px;
  /* Hace que los botones sean redondeados */
}

/* Estilo para el botón que parece un enlace */
.link-button {
  --background: transparent;
  /* Fondo transparente */
  --color: #3498db;
  /* Color azul */
  --border: none;
  /* Sin borde */
  --padding: 0;
  /* Sin relleno */
  --margin: 0;
  /* Sin margen */
}


ion-item {
  --padding-start: 10px;
  /* Espaciado en el inicio del ítem */
}

ion-icon {
  font-size: 1.2em;
  /* Tamaño del ícono */
}

.login-button {
  margin-top: 20px;
  /* Espaciado superior */
}

.link-button {
  margin-top: 10px;
  /* Espaciado superior */
}

.content {
  padding: 20px;
  /* Añadir un relleno al contenido */
}

/* Estilo para el ion-card de login */
.login-card {
  width: 80%;
  /* Ajusta el ancho del ion-card */
  margin: auto;
  /* Centra el ion-card */
  margin-top: 20px;
  /* Ajusta el margen superior */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

/* Estilos para el título de la página en el ion-card */
ion-card-header ion-title {
  font-size: 24px;
  color: #3498db;
  /* Color azul */
}

/* Estilos para los ítems en el ion-card */
ion-card-content ion-item {
  --color: black;
  /* Color del texto */
}

/* Estilos para los botones dentro del ion-card */
ion-card-content ion-button {
  --background: #3498db;
  /* Color de fondo */
  --color: white;
  /* Color del texto */
}

/* Estilo para el botón que parece un enlace */
.link-button {
  --background: transparent;
  /* Fondo transparente */
  --color: #3498db;
  /* Color azul */
  --border: none;
  /* Sin borde */
  --padding: 0;
  /* Sin relleno */
  --margin: 0;
  /* Sin margen */
}

@media (prefers-color-scheme: dark) {
  ion-input {
    color: rgb(255, 255, 255);
    /* Cambiar el color del título a blanco en modo oscuro */
  }
  ion-label,
  ion-label h2,
  ion-label h3 {
    color: rgb(255, 255, 255);
    /* Cambiar el color del título a blanco en modo oscuro */
  }

}