<ion-content [fullscreen]="true" class="content">
  <div class="background-gradient"></div>
  <div class="center-container">

    <ion-card class="login-card">


      <ion-card-content>
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="goBack()" color="success" class="back-button">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <br>
        <h1>Pregunta de seguridad</h1>
        <br>

        <ion-item class="custom-item">
          <ion-label position="floating" color="primary">Pregunta de seguridad</ion-label>
          <ion-select>
            <ion-select-option value="1">¿Cuál es el nombre de tu primer mascota?</ion-select-option>
            <ion-select-option value="2">¿En qué ciudad naciste?</ion-select-option>
            <ion-select-option value="3">¿Cuál es tu comida favorita?</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="custom-item">
          <ion-label position="floating" color="primary">Respuesta</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <div class="login-buttons"> 
          <ion-button expand="full" [routerLink]="['/perfiluser']" color="success">Aceptar</ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>