<ion-content [fullscreen]="true" class="content">
  <div class="background-gradient">
    <div class="center-container">

      <ion-card class="login-card">

        <ion-card-content>
          <div class="logoCont">
            <img src="assets/img/logo-1240x1240.png" alt="Logo de la App" class="logo">
          </div>

          <h2>Iniciar sesión</h2>

          <ion-item class="custom-item">
            <ion-label position="floating" color="primary">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="correoElectronico"></ion-input>
          </ion-item>

          <ion-item class="custom-item">
            <ion-label position="floating" color="primary">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
          </ion-item>

          <ion-text [routerLink]="['/ask-email']" class="recovery-link" color="primary">
            ¿Olvidaste tu contraseña?
          </ion-text>

          <div *ngFor="let mensaje of mensajes" class="mensaje-error">
            {{ mensaje }}
          </div>
          
          <div class="login-buttons">
            <ion-button expand="full" color="primary" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
            <ion-button expand="full" color="success" [routerLink]="['/registro']">Registrarse</ion-button>
            <ion-button expand="full" color="success" [routerLink]="['/adminvista']">prueba</ion-button> 
            <br>
          </div>
<br>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
