<ion-content [fullscreen]="true" class="content">
  <div class="background-gradient">
    <div class="center-container">

      <ion-card class="login-card">

        <ion-card-content>
          <h2>Nueva contrasena</h2>

          <ion-item class="custom-item">
            <ion-label position="floating" color="primary">Contrasena</ion-label>
            <ion-input type="password">{{contrasena}}</ion-input>
          </ion-item>

          <ion-item class="custom-item">
            <ion-label position="floating" color="primary">Repita la Contrasena</ion-label>
            <ion-input type="password">{{rcontrasena}}</ion-input>
          </ion-item>


          <div class="login-buttons">
            <ion-button expand="full" color="success">aceptar</ion-button>
            <br>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>