<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">prueba</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="obtenerclima()">Obtener Clima</ion-button>

  <ion-list *ngIf="climaData">
    <ion-item>
      <ion-label>Nombre: {{ climaData.location.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Región: {{ climaData.location.region }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>País: {{ climaData.location.country }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Temperatura: {{ climaData.current.temp_c }}°C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Condición: {{ climaData.current.condition.text }}</ion-label>
    </ion-item>
    <ion-item>
      <img [src]="climaData.current.condition.icon" >
    </ion-item>
    
  </ion-list>
</ion-content>
