  <ion-content [fullscreen]="true" class="content">
    <div class="background-gradient"></div>

    <div class="center-container">
      <ion-card class="profile-card">

        <ion-item class="custom-item">

          <!-- Icono de tuerca para modificar perfil -->
          <ion-icon name="settings" slot="start"color="primary"
            class="settings-icon" (click)="editProfile()">Edit Perfil</ion-icon>

          <!-- Icono de cierre de sesión -->
          <ion-icon name="log-out" slot="end" color="primary" class="logout-icon"
            (click)="logout()"></ion-icon>

        </ion-item>

        <ion-card-header>

          <ion-list *ngIf="climaData" class="clima-container">
            <ion-item class="clima-item">
              <img slot="start" src="{{ climaData.current.condition.icon }}" alt="Clima Icon" class="clima-icon">
              <ion-label slot="end" color="primary">{{ climaData.current.temp_c }}°C</ion-label>
            </ion-item>
          </ion-list>

        </ion-card-header>

        <ion-card-content>

          <!-- Foto de perfil con marco redondo -->
          <div class="profile-image-container">
            <!-- Foto de perfil con marco redondo -->
            <div class="profile-image">
              <ion-img src="uber\src\assets\img\graduation-1345143_640.png"></ion-img>
            </div>
          </div>

          <!-- Nombre de usuario -->
          <div class="profile-name">{{ nombreUsuario }}</div>

          <!-- Correo con color difuminado -->
          <div class="profile-email">{{ correoUsuario }}</div>

          <div class="login-buttons">
            <ion-button id="iniciarViajeButton" expand="full" color="primary" (click)="iniciarViajeComoConductor()">
              Iniciar Viaje Como Conductor
            </ion-button>
            
            <ion-button id="registrarVehiculoButton" expand="full" color="primary" (click)="registrarVehiculo()">
              Registrar Vehiculo
            </ion-button>

            <ion-button id="eliminarVehiculoButton" expand="full" color="danger" (click)="eliminarVehiculo()">
              Eliminar Vehículo
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>