<ion-content [fullscreen]="true" class="content">
  <div class="background-gradient"></div>
  <br>

  <div class="center-container">
    <ion-card class="edit-profile-card">

      <ion-card-content>
        <h2>Editar perfil</h2>
        <ion-buttons slot="start">
          <ion-button fill="clear" [routerLink]="['/perfiluser']" color="success" class="back-button">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <div class="profile-image" (click)="presentAlertConfirm()">
          <img *ngIf="capturedImage" [src]="capturedImage" alt="Captured Image" class="camera-icon" id="profile-image">
          <ion-icon name="camera" *ngIf="!capturedImage" slot="end" color="light" class="camera-icon"></ion-icon>
        </div>

        <br>
        <ion-item class="custom-item">
          <ion-label color="primary" position="floating">Nuevo nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-label color="primary" position="floating">correonuevo@ejemplo.com</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" [routerLink]="['/recuperar']">Cambiar contraseña</ion-button>

        <ion-button expand="full" color="success" [routerLink]="['/perfiluser']">Guardar Cambios</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>