<ion-content [fullscreen]="true" class="content">
  <div class="background-gradient"></div>
  
  <div class="center-container">
    <ion-card class="edit-profile-card">

      <ion-card-content>
        <h2>Editar perfil</h2>
        <ion-buttons slot="start">
          <ion-button fill="clear" expand="full" color="success" class="back-button" (click)="volver()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <div class="profile-image" (click)="presentAlertConfirm()">
          <img *ngIf="capturedImage || imagePath" [src]="capturedImage || imagePath" alt="Imagen Capturada">
          <ion-icon name="camera" *ngIf="!capturedImage" slot="end" color="light" class="camera-icon"></ion-icon>
        </div>

        <!-- Nombre de usuario -->
        <div class="profile-name">{{ nombreUsuario }}</div>

        <ion-item class="custom-item">
          <ion-label color="primary" position="floating">Nuevo nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nuevoNombre"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" [routerLink]="['/recuperar']">Cambiar contraseña</ion-button>

        <ion-button expand="full" color="success" (click)="guardarCambios(nuevoNombre)">Guardar Cambios</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
