<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Registros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="primary">
      Usuarios
    </ion-item-divider>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>{{ usuario.nombre }} {{ usuario.apellido }}</ion-label>
    </ion-item>

    <ion-item-divider color="primary">
      Vehículos
    </ion-item-divider>
    <ion-item *ngFor="let vehiculo of vehiculos">
      <ion-label>{{ vehiculo.patente }}</ion-label>
    </ion-item>

    <ion-item-divider color="primary">
      Roles
    </ion-item-divider>
    <ion-item *ngFor="let rol of roles">
      <ion-label>{{ rol.nomrol }}</ion-label>
    </ion-item>

    <ion-item-divider color="primary">
      Preguntas
    </ion-item-divider>
    <ion-item *ngFor="let preguntados of pregunta3">
      <ion-label>{{ preguntados.pregunta }}</ion-label>
    </ion-item>


  </ion-list>
</ion-content>