<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/adminvista"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Lista de Registros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="primary">
      Usuarios
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let usuario of usuarios" lines="full">

        <!-- Información del usuario -->
        <ion-label>
          <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
          <p>Correo: {{ usuario.correo }}</p>
          <p>Rol: {{ usuario.rolid }}</p>
        </ion-label>

        <!-- Botones de acciones -->
        <ion-buttons slot="end">

          <!-- Selector de nuevo rol -->
          <ion-item>
            <ion-label>Rol:</ion-label>
            <ion-select [(ngModel)]="nuevoRolId">
              <ion-select-option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nomrol }}</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Botón para actualizar el rol -->
          <ion-item>
            <ion-button color="primary" fill="clear" (click)="actualizarRolUsuario(usuario.usuarioid, nuevoRolId)">
              <ion-icon name="refresh"></ion-icon>
              Actualizar Rol
            </ion-button>
          </ion-item>

          <!-- Botón para eliminar el usuario -->
          <ion-item>
            <ion-button color="danger" fill="clear" (click)="eliminarUsuario(usuario.usuarioid)">
              <ion-icon name="trash"></ion-icon>
              Eliminar Usuario
            </ion-button>
          </ion-item>

        </ion-buttons>

      </ion-item>
    </ion-list>


    <!--modificar usuario para el tipo de rol-->

    <ion-item-divider color="primary">
      Roles
    </ion-item-divider>
    <ion-item *ngFor="let rol of roles">
      <ion-label>Numero Rol: {{ rol.nomrol }} Nombre Rol: {{ rol.nomrol }}</ion-label>
    </ion-item>

    <ion-item-divider color="primary" sticky>
      Preguntas
    </ion-item-divider>
    <ion-item *ngFor="let pregunta of pregunta3">
      <ion-label>{{ pregunta.pregunta }}</ion-label>
      <ion-button color="danger" fill="clear" (click)="eliminarPregunta(pregunta.idpreguntas)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Formulario para agregar pregunta -->
    <ion-item>
      <ion-label position="floating">Nueva Pregunta</ion-label>
      <ion-input [(ngModel)]="nuevaPregunta" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="agregarPregunta()">Agregar Pregunta</ion-button>

  </ion-list>
</ion-content>